.align-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-content-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.middle-portfolios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  background-color: #7f9a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 40px;
  min-width: 30%;
  /* width: 40%; */
}

.horizontal-divider {
  width: 10%;
  height: 1px;
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.margin-top {
  margin-top: 100px;
}

.margin-bottom {
  margin-bottom: 100px;
}

.portfolio-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Test */
/**
 * Demo Styles
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  /* margin: 64px auto; */
  /* max-width: 640px; */
  width: 100%;
  text-align: center;
}

/**
   * Circle Styles
   */
div {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  height: 500px;
  width: 100%;
}

.circle {
  background-color: #d59d7a;
  /* border: 5px solid #ff0000; */
  /* background-color: #7f9a5a; */
  width: 400px;
  height: 400px;
  border-radius: 1000px;
  margin: 0.5em;
}

.circle.kitten {
  background-image: url("http://placekitten.com/g/200/200");
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  color: black;
}

.portfolio-link {
  text-decoration: inherit;
  color: black;
  /* text- */
  -webkit-transition: color 50ms linear;
  -ms-transition: color 50ms linear;
  transition: color 50ms linear;
}

.portfolio-link:hover {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}
